channels==2.4.0
channels-redis==2.4.2
daphne==2.4.1
Django==3.0.4
django-cors-headers==3.2.1
django-filter==2.2.0
django-oauth-toolkit==1.3.0
django-rest-framework-social-oauth2==1.1.0
djangorestframework==3.11.0
numpy==1.18.1
psycopg2==2.8.4
requests==2.23.0
social-auth-app-django==3.1.0
social-auth-core==3.2.0
gunicorn==19.9.0
